@value colors: "snake-eyes/styleguide/variablesColors.module.css";
@value GB-1 from colors;

.app {
  text-align: center;
}

.block {
  margin-top: 10px;
}

.result {
  background-color: GB-1;
  padding: 5px;
}

.marginSearch {
  margin: 0 8px;
}
